* {
  font-family: 'Merriweather', serif;
  font-size: 16px;
}

html {
  scroll-behavior: smooth;
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  padding-top: 70px;
  margin: 0;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 15px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}

body, html {
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    color: #777;
    width: 100% !important;
    height: 100% !important;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}


h2 {
  margin: 20px;
  color: #555;
  font-family: 'Merriweather', serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 30px;
}

h3, h4 {
  color: #222;
  font-family: 'Merriweather', serif;
  font-size: 26px;
  font-weight: 300;
  letter-spacing: 1px;
}
h5 {
  text-transform: uppercase;
  font-family: 'Merriweather', serif;
  font-weight: 200;
  line-height: 20px;
  /*color: #2d6c39;*/
}
p.intro {
  font-size: 16px;
  margin: 12px 0 0;
  line-height: 24px;
}
a {
  color: #555;
}
a:hover, a:focus {
  text-decoration: none;
  color: #000;
}
ul, ol {
  list-style: none;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  border: 1px solid #e7e7e7;
  opacity: 0.5;
  position: fixed;
  z-index: 1;
  top: 0; 
  width: 100%; 
}

/* Links inside the navbar */
.navbar a {
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 13px;
  font-color: #000000;
  text-transform: uppercase;
}

.main {
  margin-top: 0px;
}

#add-info {
  margin-top: 0px;
}

.w3-container, .w3-panel {
  padding-top: 0.50em;
  padding-right: 50px;
  padding-bottom: 0.01em;
  padding-left: 0px;
  margin-top: 15px;
}

.w3-light-grey {
  border-radius: 3px;
  margin-bottom: 40px;
  height: 45px
} 

#last-bar {
  border-radius: 3px;
  margin-bottom: 0px;
  height: 45px
}    


.w3-black {
  border-radius: 3px;
  margin-bottom: 40px;
  height: 45px
}

.w3-bar-item {
  font: 15px 'opensans-bold', sans-serif;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  margin-top: 7px;
}

.raised-block {
  background-color: #fff;
  margin-bottom: 10px;
  margin-left: 0;
  margin-right: -0.625rem; 
  padding-left: 0.1rem;
  padding-right: 0.625rem;
}

.row [class^="col-"]:first-child>.raised-block {
  margin-left: -2.625rem;
}

blockquote {
  border-left: 5px solid #2d6c39;
/*    color: #795548;*/
  font: 'opensans-bold', sans-serif;
  font-weight: bold;
  font-size: 120%;
  margin: 20px 0;
  padding: 15px;
}

.about-text {
  text-align: justify;
  text-justify: inter-word;
  font-size: 16px;
  line-height: 28px;
  font-family: 'Merriweather', serif;
}

#about-2 {
  font-size: 16px;
}

a.anchor 
{
  display: block; 
  position: relative; 
  top: -105px; 
  /*visibility: hidden;*/
}

.blockquote-label {
  font-size: 24px;
}







