html {
  scroll-behavior: smooth;
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  padding-top: 40px;
  margin: 0;
  font-family: 'Open Sans',"Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 15px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}

body, html {
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    color: #777;
    width: 100% !important;
    height: 100% !important;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}


h2 {
    margin: 20px 0;
    color: #555;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    font-size: 30px;
}
h3, h4 {
    color: #222;
    font-size: 26px;
    font-weight: 300;
    letter-spacing: 1px;
}
h5 {
    text-transform: uppercase;
    font-weight: 700;
    line-height: 20px;
}
p.intro {
    font-size: 16px;
    margin: 12px 0 0;
    line-height: 24px;
}
a {
    color: #555;
}
a:hover, a:focus {
    text-decoration: none;
    color: #000;
}
ul, ol {
    list-style: none;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  border: 1px solid #e7e7e7;
  position: fixed;
  z-index: 1;
/*  position: sticky;
*/  
  top: 0; 
  width: 100%; 
}

/* Links inside the navbar */
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Main content */
.main {
  margin-top: 30px; /* Add a top margin to avoid content overlay */
}