html {
  scroll-behavior: smooth;
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
html {
  font-size: 10px;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}



body, html {
    font-family: 'Open Sans', sans-serif;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    color: #777;
    width: 100% !important;
    height: 100% !important;
}
h2 {
    margin: 0 0 20px 0;
    color: #555;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    font-size: 30px;
}
h3, h4 {
    color: #222;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 1px;
}
h5 {
    text-transform: uppercase;
    font-weight: 700;
    line-height: 20px;
}
p.intro {
    font-size: 16px;
    margin: 12px 0 0;
    line-height: 24px;
}
a {
    color: #555;
}
a:hover, a:focus {
    text-decoration: none;
    color: #000;
}
ul, ol {
    list-style: none;
}
